
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <form action="@Url.Content("~/Proveedor/Imprimir")" class="p-2">
                    <div class="col-sm-2 text-justify float-right">
                        <button class="btn btn-primary btn-block" type="submit" onclick="">Imprimir</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>CUIT</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" id="txtIdProveedor" />
                        <div class="form-group">
                            <label for="txtNombre">Nombre:</label>
                            <input type="text" class="form-control" id="txtNombre">
                        </div>
                        <div class="form-group">
                            <label for="txtCuit">CUIT:</label>
                            <input type="text" class="form-control" id="txtCuit">
                        </div>
                        <div class="form-group">
                            <label for="txtTelefono">Telefono:</label>
                            <input type="text" class="form-control" id="txtTelefono">
                        </div>
                        <div class="form-group">
                            <label for="txtCorreo">Correo:</label>
                            <input type="text" class="form-control" id="txtCorreo">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var tabla_proveedor;
         $(document).ready( function () {
             tabla_proveedor = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Proveedor")",
                    "type": "GET",
                    "datatype": "json"
                },
                 "columns": [
                    { "data": "nombre" },
                    { "data": "cuit" },
                    { "data": "telefono" },
                    { "data": "correo" },
                    { "data": "id_proveedor", "render": function (data) {
                            return "<button class='btn btn-primary btn-sm' type='button' onclick='abrirModal(" + data + ")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            abrirModal(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        });


        function abrirModal($idproveedor) {

            $("#txtIdProveedor").val($idproveedor);
            if ($idproveedor != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Obtener","Proveedor")" + "?idproveedor=" + $idproveedor,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtNombre").val(data.nombre);
                            $("#txtCuit").val(data.cuit);
                            $("#txtTelefono").val(data.telefono);
                            $("#txtCorreo").val(data.correo);
                        }

                    }
                });
            } else {

                $("#txtNombre").val("");
                $("#txtCuit").val("");
                $("#txtTelefono").val("");
                $("#txtCorreo").val("");
            }

            $('#FormModal').modal('show');

        }

        function Guardar() {
            var $data = {
                proveedor: {
                    id_proveedor: parseInt($("#txtIdProveedor").val()),
                    nombre: $("#txtNombre").val(),
                    cuit: $("#txtCuit").val(),
                    telefono: parseInt($("#txtTelefono").val()),
                    correo: $("#txtCorreo").val(),
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Guardar", "Proveedor")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tabla_proveedor.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }

        function Eliminar($idproveedor) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Eliminar", "Proveedor")" + "?idproveedor=" + $idproveedor,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabla_proveedor.ajax.reload();
                        }
                    }
                });


            }
        }

    </script>



}